.header {
    width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
    margin: 20px;
    
}

button {
    width: 200px;
    height: 44px;
    align-self: center;
    font-size: 16px;
}

#container {
    width: 960px;
    height: 960px;
    margin: 20px auto;
    background-color: #010;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1px;
    padding: 1px;
}

div.square {
    background-color: #ffffff;
}

div.filled {
    background-color: black;
}